@font-face {
  font-family: 'Poppins Semibold';
  src: url("../fonts/Poppins.ttf");
}

@font-face {
  font-family: 'Poppins Light';
  src: url("../fonts/PoppinsLight.ttf");
}
* {
  -fx-font-size: 16px;
}

